* {
	font-family: "Trebuchet MS";
	text-align:center;
}
ul {
	list-style-position: inside;
}
body {
	background-color: #30D5C8;
}
h1 {
	background-color: #00FF00;
}
.navbar {
    background:#006000;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
